.week-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.week {
    margin: 1px;
    display: block;
    border: 1px solid;
    float: left;
}

.week-lived {
    background-color: orangered;
    border-color: black;
}

.week-current {
    border-color: black;
    background-color: yellow;
}

.week-lived-not {
    background-color: yellowgreen;
    border-color: black;
}
